* {
    font-family: sans-serif;
    color: #ffffff;
}

body {
    max-width: 40em;
    margin: auto;
    background-color: #121212;
}

header {
    text-align: center;
}

hr {
    background-color: #ffffff;
}

.stationInfo {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.boldText {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.gridClass {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}